{
  "build": {
    "env": {
      "AUTH0_DOMAIN": "your-auth0-domain",
      "AUTH0_CLIENT_ID": "your-client-id",
      "AUTH0_CLIENT_SECRET": "@auth0_client_secret",
      "REDIRECT_URI": "https://your-redirect-uri",
      "POST_LOGOUT_REDIRECT_URI": "https://your-logout-redirect-uri",
      "SESSION_COOKIE_SECRET": "@session_cookie_secret",
      "GRAPHQL_URI": "https://your-graphql-domain",
      "APP_URI":"http://your-app-uri",
      "API_URI":"http://your-api-uri",
      "PLAID_PUBLIC_KEY":"your-plaid-key",
      "PLAID_WEBHOOK_KEY":"your-generated-webhook-key"
    }
  },
  "env": {
    "AUTH0_DOMAIN": "your-auth0-domain",
    "AUTH0_CLIENT_ID": "your-client-id",
    "AUTH0_CLIENT_SECRET": "@auth0_client_secret",
    "REDIRECT_URI": "https://your-redirect-uri",
    "POST_LOGOUT_REDIRECT_URI": "https://your-logout-redirect-uri",
    "SESSION_COOKIE_SECRET": "@session_cookie_secret",
    "GRAPHQL_URI": "https://your-graphql-uri",
    "APP_URI":"https://your-app-uri",
    "API_URI":"https://your-api-uri",
    "PLAID_PUBLIC_KEY":"your-plaid-key",
    "PLAID_CLIENT_ID": "@plaid_client_id",
    "PLAID_SECRET": "@plaid_secret",
    "PLAID_WEBHOOK_KEY":"9Ps92FtniwXPKJ3sesf"
  }
}
