@import '../variables.scss';

.transaction {
  margin: 1em 0;
  &.savings {
    background-color: $savings;
  }
  &.needs {
    background-color: $needs;
  }
  &.wants {
    background-color: $wants;
  }
  .basics {
    margin-bottom: 1em;
    display: grid;
    grid-template-rows: 1.25em;
    grid-template-columns: 1fr .5fr .5fr 1fr 2fr;
    grid-column-gap: 2em;
    justify-items: left;
    .name {
      overflow: hidden;
    }
    .amount {
      color: red;
      &.refund {
        color: green;
      }
    }
  }
}
