@import '../variables.scss';

.transaction {
  .hide {
    display: none;
  }
  .help {
    margin: 0 .25em;
    padding: 0 .25em;
    border: 1px dotted #ccc;
    border-radius: 50%;
    color: #ccc;
  }
  margin: 1em 0;
  &.savings, &.activeSavings, &.payoffs {
    background-color: $savings;
  }
  &.needs, &.unplannedNeeds, &.needsPaybacks {
    background-color: $needs;
  }
  &.wants, &.unplannedWants, &.wantsPaybacks {
    background-color: $wants;
  }
  .basics {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 2fr .75fr .5fr .75fr 6fr .25fr;
    grid-column-gap: 2em;
    justify-items: left;
    .name {
      word-break: break-word;
      word-wrap: break-word;
    }
    .amount {
      color: red;
      &.refund {
        color: green;
      }
    }
  }
  .controls > div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-auto-flow: dense;
    .income {
      grid-column: 1;
    }
    .wants {
      grid-column: 2;
    }
    .needs {
      grid-column: 3;
    }
    .future {
      grid-column: 4;
    }
    .other {
      grid-column: 1;
    }
  }
}
