@import '../variables.scss';

.transaction {
  .hide {
    display: none;
  }
  .help {
    margin: 0 .25em;
    padding: 0 .25em;
    border: 1px dotted #ccc;
    border-radius: 50%;
    color: #ccc;
  }
  margin: 1em 0;
  &.savings, &.activeSavings, &.payoffs {
    background-color: $savings;
  }
  &.needs, &.unplannedNeeds, &.needsPaybacks {
    background-color: $needs;
  }
  &.wants, &.unplannedWants, &.wantsPaybacks {
    background-color: $wants;
  }
  .basics {
    margin-bottom: 1em;
    display: grid;
    grid-template-rows: 1.25em;
    grid-template-columns: 1fr .75fr .5fr .5fr 5fr .25fr;
    grid-column-gap: 2em;
    justify-items: left;
    .name {
      word-break: break-word;
      word-wrap: break-word;
    }
    .amount {
      color: red;
      &.refund {
        color: green;
      }
    }
  }
}
